button{
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .img{
    border-radius: 50%;
    width: 80px;
    margin-bottom: 13px;
    padding: 3px;
    box-shadow: 0 0 0 2px #A6328D;
  }
  
  .img:hover{
    box-shadow: 0 0 0 2px transparent;
  }
  
  .username{
    font-size: 12px;
  }
  
  .c-story-user-item{
    margin-right: 25px;
  }