.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stories-list {
  white-space: nowrap;
}

.stories-list::-webkit-scrollbar {
  display: none;
}

.stories-item {
  display: inline-block;
  max-width: 80px;
  min-height: 80px;
}

.stories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.feeds__list {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}

.feed {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}